<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-md-12 p-5">
                        {{#if list}}
                        <table class="table text-center text-dark">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Worker Profile</th>
                                    <th scope="col">Worker Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Worker Type</th>
                                    <th scope="col">Worker District</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Users District</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each list}}
                                {{#if this.worker}}
                                <tr>
                                    <td class="pt-5">{{@index}}</td>
                                    <td class="p-5"><img src="/workersimage/{{this.worker.wkid}}.jpg"
                                            style="width: 100px;" height="100px" alt=""></td>
                                    <td class="pt-5">{{this.worker.name}}</td>
                                    <td class="pt-5">{{this.worker.ph}}</td>
                                    <td class="pt-5">{{this.worker.email}}</td>
                                    <td class="pt-5">{{this.worker.wrktype}}</td>
                                    <td class="pt-5">{{this.worker.district}}</td>
                                    <td class="pt-5">{{this.user.name}}</td>
                                    <td class="pt-5">{{this.user.ph}}</td>
                                    <td class="pt-5">{{this.user.email}}</td>
                                    <td class="pt-5">{{this.user.address}}</td>
                                    <td class="pt-5">{{this.user.district}}</td>
                                </tr>
                                {{/if}}
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}

                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>