<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-md-6 p-5">
            {{#if list}}
            {{#each list}}
            {{#if this.status}}
            <div class="card m-auto" style="width: 26rem; border: solid;">
                <img class="card-img-top p-3" src="/workersimage/{{this.workers.wkid}}.jpg" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title">{{this.workers.wrktype}}</h5>
                    <p class="card-text">Name : {{this.workers.name}}</p>
                    <p class="card-text">Email : {{this.workers.email}}</p>
                    <p class="card-text">Phone : {{this.workers.ph}}</p>
                    <p class="card-text">District : {{this.workers.district}}</p>
                    <p class="card-text">Work Starting : {{this.starting}}</p>
                </div>
                <div class="p-3 text-center">
                    <form action="/feedback?wkid={{this.workers.wkid}}" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="">Write Your Feedback About This Worker :</label>
                            <input type="text" name="feedback" placeholder="Feedback !" style="height: 60px;">
                        </div>
                        <div class=" p-3">
                            <label for="">Give Rating</label>
                            <select id="district" name="star" class="text-center"
                                style="width: 100%; height: 35px; border: 1;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="p-3">
                            <input class="btn btn-success" style="width: 100%;" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            {{/if}}
            {{/each}}
            {{else}}

            {{/if}}
        </div>
    </div>
</div>