<div class="container-fluid" style="background-color: #5c6263;height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-md-12 p-5">
                        {{#if list}}
                        <table class="table text-center text-light">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Worker Profile</th>
                                    <th scope="col">Worker Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Worker Type</th>
                                    <th scope="col">Worker District</th>
                                    <th scope="col">Worker Resopnce</th>
                                    <th scope="col">Mannage Request</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each list}}
                                <tr>
                                    <td class="pt-5">{{@index}}</td>
                                    <td class="p-5"><img src="/workersimage/{{this.workers.wkid}}.jpg"
                                            style="width: 100px;" height="100px" alt=""></td>
                                    <td class="pt-5">{{this.workers.name}}</td>
                                    <td class="pt-5">{{this.workers.ph}}</td>
                                    <td class="pt-5">{{this.workers.email}}</td>
                                    <td class="pt-5">{{this.workers.wrktype}}</td>
                                    <td class="pt-5">{{this.workers.district}}</td>
                                    <td class="pt-5 text-dark">
                                        {{#if this.status}}
                                        <span class="bg-danger p-2">Rejected!</span>
                                        {{else}}
                                        <span class="bg-warning p-2">Waiting!</span>
                                        {{/if}}
                                    </td>
                                    <td class="pt-5"><a href="/removereq?wkid={{this.workers.wkid}}"
                                            class="btn btn-outline-danger"
                                            onclick="return confirm('Are you sure to remove ?')">Remove</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                            <h1 class="text-center text-light" style="font-weight: 800;">RequEsts Not Available</h1>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>