<div class="container-fluid" style="background-color: #5c6263; height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-md-12 p-5">
                        {{#if list}}
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Home Address</th>
                                    <th scope="col">User District</th>
                                    <th scope="col">For</th>
                                    <th scope="col">Mannage Request</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each list}}
                                <tr>
                                    <td class="pt-5">{{@index}}</td>
                                    <td class="pt-5">{{this.user.name}}</td>
                                    <td class="pt-5">{{this.user.ph}}</td>
                                    <td class="pt-5">{{this.user.email}}</td>
                                    <td class="pt-5">{{this.user.address}}</td>
                                    <td class="pt-5">{{this.user.district}}</td>
                                    <td class="pt-5">{{this.wrktype}} Working</td>
                                    <td class="pt-5">
                                        {{#if this.status}}
                                        <span class="bg-danger p-2">Yor Are Rejected! this request</span>
                                        {{else}}
                                        {{#if this.acc}}
                                        <span class="bg-success p-2">Wait For The User Confirmation</span>
                                        {{else}}
                                        <a href="/workers/accept?id={{this.user._id}}&type={{this.wrktype}}"
                                            class="btn btn-success m-1">Accept</a>

                                        <a href="/workers/reject?id={{this.user._id}}" class="btn btn-danger m-1"
                                            onclick="return confirm('Are your shure to remove this ?')">Reject</a>
                                        {{/if}}
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{else}}
                        <h1 class="text-center text-light" style="font-weight: 800;">There Is No Requests From The Users
                        </h1>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>